@model Mobile_shop_Frontend.Models.InvoiceItemModel

@{
    ViewBag.Title = "Invoice Item Form";
}
<div asp-validation-summary="All"></div>
<div class="card card-default mt-5">
    <div class="card-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="card-body">
        <form asp-controller="InvoiceItem" asp-action="Save" method="post">
            <!-- Hidden Fields -->
            <input type="hidden" id="InvoiceItemId" asp-for="InvoiceItemId">
            <input type="hidden" id="InvoiceId" asp-for="InvoiceId">

            <div class="form-group">
                <label for="productId">Product</label>
                <select class="form-control rounded-0" id="productId" asp-for="ProductId" asp-items="ViewBag.Products" onchange="updateUnitPrice()">
                    <option value="">Select Product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control rounded-0" id="quantity" asp-for="Quantity" min="1" oninput="calculateTotal()">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-pill">Submit</button>
                <a asp-controller="InvoiceItem" asp-action="GetInvoiceItems" asp-route-invoiceId="@Model.InvoiceId" class="btn btn-light btn-pill">Cancel</a>
            </div>
        </form>
    </div>
</div>